.blog-news {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  @include m {
    grid-gap: 25px;
  }
  @include xs {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.blog-news__card {
  color: $blue;
  background: $gray;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.29),
    0 6px 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}
.blog-news__body {
  padding: 20px;
  .title {
    margin: 10px 0 20px 0;
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
    a {
      color: $blue;
    }
  }
  .excerpt {
    font-size: 0.9em;
  }
}
.meta p {
  font-size: 0.8em;
  font-weight: bold;
}
.meta a {
  color: $lighterblue;
}
.card-footer {
  padding: 0px 20px 10px 20px;
  margin-top: auto;
  p {
    a {
      color: $red;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        color: darken($red, 10%);
      }
      &:active {
        color: darken($red, 15%);
      }
    }
  }
}

.blog-container {
  display: flex;
  flex-direction: column;
}
.pagination {
  align-self: center;
  display: flex;
  align-items: center;
  color: $blue;
  & > * {
    padding: 10px;
  }
  a {
    color: $blue;
  }
  .current {
    font-weight: bold;
    font-size: 1.1em;
  }
}
.blog-item {
  padding: 20px;
  &:hover {
    background: darken($gray, 10);
  }
  .title {
    margin-right: 10px;
    a {
      color: $blue;
    }
  }
}
