footer {
  background: $blue;
  color: $gray;
  margin-top: auto;
}
.footer {
  @include width;
  padding: 40px 0;
  a {
    color: $gray;
  }
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
  }
  li {
    padding: 0 0.5em;
  }
  @include m {
    flex-direction: column;
  }
}
.footer__menu-social {
  font-size: 1.5em;
  @include m {
    padding: 1.2em 0 0 0;
  }
}
.footer__copy {
  text-align: center;
  padding: 1em 0;
  background: lighten($blue, 5);
}

.search-overlay {
  z-index: 10;
  opacity: 0;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-100%) scale(0.5);
  background-color: $lighterblue;
  transition: all 0.5s ease;
  overflow: auto;
  &--visible {
    transform: translateX(0) scale(1);
    opacity: 1;
    transition: all 0.5s ease;
  }
}
.search-overlay__inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.search-bar {
  width: $width;
  height: 5em;
  margin: 40px auto;
  position: relative;
  display: flex;
  background: $gray;
  @include bg {
    width: 90%;
  }
  @include s {
    height: 3em;
  }
  @include vert {
    height: 3em;
    margin: 10px auto;
  }
  input {
    flex-grow: 1;
    height: 100%;
    font-size: 2.8em;
    outline: none;
    border: none;
    background: $gray;
    padding: 0 1rem;
    color: $blue;
    @include l {
      max-width: 60%;
    }
    @include s {
      font-size: 2em;
    }
    @include vert {
      font-size: 2em;
    }
  }
  &__loader {
    transform: rotate(0deg);
    font-size: 2em;
    animation: search-spin 1s linear infinite;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    font-size: 2em;
    padding: 1rem;
  }
}
.search-bar__close--wrapper,
.search-bar__loader--show {
  position: relative;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include l {
    width: 20%;
  }
}
.search-bar__close--wrapper {
  background: $blue;
  color: $gray;
}
.search-bar__loader {
  opacity: 0;
}
.search-link {
  font-size: 2em;
  cursor: pointer;
  a {
    color: $red;
    &:hover {
      color: darken($red, 20);
    }
  }
}
.search-results {
  flex: 1;
  color: $red;
  @include width;
  display: flex;
  flex-direction: column;
}
@keyframes search-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
