.frontpage {
  width: 100vw;
  height: 100vh;
}
.frontpage__main {
  height: 100%;
  width: 100%;
  //background: linear-gradient(36deg, $blue 80%, $red 80%);
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.frontpage__title {
  color: $gray;
  padding: 40px 20px;
  text-align: center;
  font-size: 4em;
  @include lg {
    font-size: 3em;
  }
  @include m {
    font-size: 2em;
  }
  @include s {
    font-size: 1.5em;
  }
}
.frontpage__link {
  color: $gray;
  padding: 1em 1.5em;
  border: 1px solid $gray;
}
