header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $blue;
}
.navigation {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include width;
}
.navigation__logo {
  font-size: 3em;
  color: $red;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 15%;
    background: $lighterblue;
  }
}
.navigation__nav {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  color: $gray;
  & ul {
    display: flex;
    a {
      display: block;
      color: $gray;
      padding: 10px 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      position: relative;
      font-size: 1.2em;
      &:hover {
        color: $red;
      }
    }
  }
}
.search__icon {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
.header__bottom {
  color: $blue;
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  .title {
    font-size: 3em;
  }
}
